.pickOption-container {
    display: block;
    width: 100%;
    margin:0;
    padding: 0;
}


.pickOption-container-text h3{
    display: flex;
    margin-top: 20px;
    font-family: "BrandonText", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
    justify-content: center;
}

.pickOption-container-text p{
display: flex;
justify-content: center;
}

.pick-options{
    margin-top: 25px;
    margin-bottom: 35px;
}

.pick-indoor {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
align-items: center;
}

.pick-outdoor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pick-options button{
    justify-content: center;
}

.pick-options button:hover{
    opacity: 0.5;
}

.pick-options button:disabled{
    cursor: not-allowed;
    opacity: 0.5;
  }

