
footer {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: white;
    justify-content: center;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
}