
 .hero-container{
    display: flex;
    background-color: rgb(86, 76, 76);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.hero-container{
    display: flex;
    background-color: rgb(86, 76, 76);
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.hero-description h1{
    color: rgb(183, 156, 39);
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
}

.hero-description {
    margin-left: 15%;
    margin-top: 0;
}

.hero-description button{
    color: black;
    background-color: rgb(234, 198, 49);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    width: 150px;
    font-weight: bold;
}

#location {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  
}

.hero-description h1 {
    margin-bottom: 2px;
}


.hero-image {
  
}

.hero-image img {
    height: 270px;
    border-radius: 10px;
   position: absolute;
    right: 0;
    top: 20px;
    margin-right: 15%; 
}